pkgbase = linux-lowlatency
	pkgver = 5.12.1
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = dtc
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v5.x/linux-5.12.tar.xz
	source = http://www.kernel.org/pub/linux/kernel/v5.x/patch-5.12.1.xz
	source = 0001-net-smsc95xx-Allow-mac-address-to-be-set-as-a-parame.patch
	source = 0002-arm64-dts-rockchip-add-usb3-controller-node-for-RK33.patch
	source = 0003-arm64-dts-rockchip-enable-usb3-nodes-on-rk3328-rock6.patch
	source = 0005-arm64-dts-allwinner-add-hdmi-sound-to-pine-devices.patch
	source = 0006-arm64-dts-allwinner-add-ohci-ehci-to-h5-nanopi.patch
	source = 0007-drm-bridge-analogix_dp-Add-enable_psr-param.patch
	source = 0008-gpu-drm-add-new-display-resolution-2560x1440.patch
	source = 0009-nuumio-panfrost-Silence-Panfrost-gem-shrinker-loggin.patch
	source = 0010-arm64-dts-rockchip-Add-Firefly-Station-p1-support.patch
	source = 0011-typec-displayport-some-devices-have-pin-assignments-reversed.patch
	source = 0012-usb-typec-tcpm-Add-generic-extcon-for-tcpm-enabled-devices.patch
	source = 0013-usb-typec-tcpm-Add-generic-extcon-to-tcpm.patch
	source = 0014-arm64-rockchip-add-DP-ALT-rockpro64.patch
	source = 0015-ayufan-drm-rockchip-add-support-for-modeline-32MHz-e.patch
	source = 0016-rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
	source = 0017-tty-serdev-support-shutdown-op.patch
	source = 0018-bluetooth-hci_serdev-Clear-registered-bit-on-unregister.patch
	source = 0019-bluetooth-hci_bcm-disable-power-on-shutdown.patch
	source = 0020-mmc-core-pwrseq_simple-disable-mmc-power-on-shutdown.patch
	source = 0021-usb-typec-bus-Catch-crash-due-to-partner-NULL-value.patch
	source = 0022-phy-rockchip-typec-Set-extcon-capabilities.patch
	source = 0023-usb-typec-altmodes-displayport-Add-hacky-generic-altmode.patch
	source = 0024-sound-soc-codecs-es8316-Run-micdetect-only-if-jack-status.patch
	source = 0025-ASoC-soc-jack.c-supported-inverted-jack-detect-GPIOs.patch
	source = 0026-arm64-dts-rockchip-add-typec-extcon-hack.patch
	source = 0027-arm64-dts-rockchip-setup-USB-type-c-port-as-dual-data-role.patch
	source = 0028-revert-arm64-dts-allwinner-a64-Add-I2S2-node.patch
	source = 0029-fix-g12-hdmi.patch
	source = 0030-arm64-dts-meson-add-initial-Beelink-GT1-Ultimate-dev.patch
	source = 0031-add-ugoos-device.patch
	source = 0032-drm-meson-fix-green-pink-color-distortion-set-from-u.patch
	source = 0001-Bluetooth-Add-new-quirk-for-broken-local-ext-features.patch
	source = 0002-Bluetooth-btrtl-add-support-for-the-RTL8723CS.patch
	source = 0003-arm64-allwinner-a64-enable-Bluetooth-On-Pinebook.patch
	source = 0004-arm64-dts-allwinner-enable-bluetooth-pinetab-pinepho.patch
	source = 0005-staging-add-rtl8723cs-driver.patch
	source = 0006-pinetab-accelerometer.patch
	source = 0007-enable-jack-detection-pinetab.patch
	source = 0008-enable-hdmi-output-pinetab.patch
	source = 0009-drm-panel-fix-PineTab-display.patch
	source = 0001-revert-fbcon-remove-now-unusued-softback_lines-cursor-argument.patch
	source = 0002-revert-fbcon-remove-no-op-fbcon_set_origin.patch
	source = 0003-revert-fbcon-remove-soft-scrollback-code.patch
	source = 0001-bootsplash.patch
	source = 0002-bootsplash.patch
	source = 0003-bootsplash.patch
	source = 0004-bootsplash.patch
	source = 0005-bootsplash.patch
	source = 0006-bootsplash.patch
	source = 0007-bootsplash.patch
	source = 0008-bootsplash.patch
	source = 0009-bootsplash.patch
	source = 0010-bootsplash.patch
	source = 0011-bootsplash.patch
	source = 0012-bootsplash.patch
	source = config
	source = linux-lowlatency.preset
	source = 60-linux.hook
	source = 90-linux.hook
	md5sums = 8c7420990de85f6754db287337da08b4
	md5sums = d8273731ed72ed885ab815d3805ecd67
	md5sums = 9e6b7f44db105fef525d715213dce7cf
	md5sums = 9986e28b5c2c3c62a5c3bb53abd94640
	md5sums = 552ea82c3a5e14ca9149da8c4b4d5a82
	md5sums = fa586447846ec5aef8ab972058c5548e
	md5sums = e6fe272dc95a1c0a8f871924699fea16
	md5sums = 9f27b2a05eaeb1995fc0fcf6a8b923c4
	md5sums = 6f592c11f6adc1de0f06e5d18f8c2862
	md5sums = f8f0b124c741be61d86bea8d44e875f9
	md5sums = 073296b5eba7daf6d707c21abbfc49ce
	md5sums = a033be22c23afb1d5daeeeb21353185d
	md5sums = 6a88f7e762eb7895b3f5db38daa6bb24
	md5sums = 772a0be8020582bd3956091a97e464b4
	md5sums = 09fc19ac5c51e2839ca56248ccf6323a
	md5sums = 66fae3fc96f0a478a56ff11632f3ef70
	md5sums = 245858f26512dfc48adbf509b6fc8364
	md5sums = b3875d0253b8018af15af9512ed94962
	md5sums = 46d365b674920f85637a9d7865781f87
	md5sums = 817f321b4bc9d075a0ec72eefaafa113
	md5sums = 19d836fc7c463011b696640a193b842f
	md5sums = 005e92dfe1cb92062b7abf3e7ef9a208
	md5sums = 252b4dbd2d0f560b6d254f29dd5b0f5f
	md5sums = ab9c0c25e2b7272fca3caf491b7dc89c
	md5sums = bd0d0667d2fdac9b1566dd906775975d
	md5sums = 0eb00bfcc68cae984bfdbbca6409e2a6
	md5sums = c706ccdf118f4146e7ca35808d819b8a
	md5sums = bb500ee93275583d5ba3d11842e09735
	md5sums = e89d3ca6ae8ae8f3eb8168cacaefb9e0
	md5sums = 469417b64e6a2bf65bd74c6d9cad2040
	md5sums = c41b101c033ac487c15298bc5a9e95cd
	md5sums = 1b92d7617e60d3c525a4b18ab4351185
	md5sums = 63ec4c70352a86a02e1aacf2bc8e6fc5
	md5sums = cf64831f27bb47da29e708b7243bb340
	md5sums = e3f53e07612939729afaa4dd7ef7f7ce
	md5sums = 9510821113c122f91f47b9d0f7ca7264
	md5sums = a74fcfa1e085a3a99dcf4f214c1ca65a
	md5sums = d624679b462fab9ec35900e761f81b79
	md5sums = d0fd6bd627223d4c9fc001ffff9df401
	md5sums = f79300740a7350d2d24ab5e120831b52
	md5sums = 979a787cf84bef9c60da78e72ec96550
	md5sums = 9f1eb855745543ac24b94d90cf759b37
	md5sums = 2496e6fc16f67b289f72ddc2ea2511cf
	md5sums = fed6ae4ac4c3f56178fa4aca6c934d6f
	md5sums = 594d4f69b956eaab3336b4e01f42eda8
	md5sums = be5a873f638ff5c31947f8d28a824d3a
	md5sums = b4acd66a564af83b5409738c40b4a566
	md5sums = a6407dceae1838f5aa27450401a91be6
	md5sums = cb78b1c11b917a4d31c4b1567183b76f
	md5sums = 3efea575da7f02ba94789d3b6b81e11f
	md5sums = 2529ad13791b259d80c9d5d702187a65
	md5sums = cb296d7788098cf478c46c0d21376719
	md5sums = 50255aac36e002afa477e4527a0550af
	md5sums = 6b6def41b404422dc04b39e2f1adffc8
	md5sums = 1922e3a7727d2bf51641b98d6d354738
	md5sums = d6b7e4e43e42128cf950251e0d0aee23
	md5sums = ecfd8a30c480149005fcf349e4d06f4b
	md5sums = 74df91dfd301d03cfafbe35803a96d8c
	md5sums = 14d399178e2328792c5b0fdc2599597b
	md5sums = ce6c81ad1ad1f8b333fd6077d47abdaf
	md5sums = 3dc88030a8f2f5a5f97266d99b149f77

pkgname = linux-lowlatency

pkgname = linux-lowlatency-headers

